<nav>

   <ul class="pagination justify-content-center my-5">
      <li class="page-item" [appClass]="{ disabled: currentPage === 0 }">
         <a class="page-link" href="#" (click)="onClickPreviousPage()">Précédent</a>
      </li>


      <ng-container *appTimes="images.length; let i = index">
         <li class="page-item" 
            [appClass]="{ active: i === currentCard}"
            *ngIf = "getDisplayValue(i)"
            >
            <a class="page-link" [href]="highligthIndex" (click)="displayCardOfIndex(i)">{{ i + 1 }}</a>
         </li>
      </ng-container>

      <li class="page-item" [appClass]="{ disabled: currentPage === nbMaxPages - 1 }">
         <a class="page-link" href="#" (click)="onClickNextPage()">Suivant</a>
      </li>
   </ul>
</nav>

<div class="d-flex justify-content-center">
   -- Page {{currentPage + 1}} / {{ nbMaxPages }} --
</div>

<div class="container-fluid">
   <div class="row justify-content-center my-4">
      <div class="col text-center">
         <h3>{{ images[currentCard].title }}</h3>
      </div>
   </div>
   <div class="row justify-content-center">
      <div class="col text-center">
         <img [src]="images[currentCard].url" [alt]="images[currentCard].title"/>
      </div>
   </div>
</div>